@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
}

img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #313131;
    margin-top: 0px;
    font-style: normal;
    font-weight: 600;
    text-transform: normal;
}

a {
    text-decoration: none;
}

/* ///////HEADER AREA START//////// */
/* .header-area{
    margin: 15px;
} */
.header-transparent {
    width: 100%;
    top: -100%;
    position: relative;
    margin-top: -12px;
    z-index: 999;
}

.header-transparent.active {
    transition: all 0.5s ease;
    top: 0;
    position: fixed;
    margin-top: -10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 99999;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px 0;
}

.main-menu ul li {
    position: relative;
}

.main-menu ul li ul.submenu {
    position: absolute;
    top: 110%;
    left: 0;
    min-width: 190px;
    background-color: white;
    border-top: 4px solid #00c867;
    border-radius: 5px;
    transition: .3s;
    flex-direction: column;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    gap: 15px;
}

.main-menu ul li ul.submenu::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #00c867 transparent;
    position: absolute;
    top: -10px;
    z-index: 999999;
    left: 11px;
}

.main-menu ul li:hover ul.submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transition: .3s;
}

.main-menu ul li ul.submenu.inner-submenu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: -100%;
    top: -30%;
}

li.main-submenu:hover ul.submenu.inner-submenu {
    opacity: 1;
    visibility: visible;
}

li.main-submenu:hover i {
    margin-left: 8px;
    transition: 0.3s;
}

.main-menu ul li ul.submenu li {
    flex-direction: column;
    padding: 0 20px;
}

.main-menu ul li ul.submenu li a {
    text-transform: capitalize;
}

.main-menu ul li a {
    font-weight: 500;
    color: #2c303e;
    text-transform: uppercase;
}

.main-menu ul li:hover>a {
    color: #00c867;
}

.header-btn a {
    background-color: transparent;
    color: black;
    font-weight: 500;
    border: 1px solid #00c867;
    border-radius: 25px;
}

.header-btn a:hover {
    background-color: #00c867;
    color: white !important;
}

/* .logo a img{
    max-width: 150px;
} */
.header-transparent {
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0; */
    background-color: #f9fbfc;
}

.singel-slider.slider-height.header-bg {
    position: relative;
}

.singel-slider.slider-height.header-bg::after {
    content: '';
    position: absolute;
    background-image: url(/assets/img/polygon-scatter-haikei.png);
    width: 100%;
    height: 100%;
    top: -7%;
}

/* ///////HEADER AREA END//////// */

/* <!-- ////////MOBILE MENU START//////// --> */
.mobile-menu {
    display: none;
}

.mobile-menu {
    background: linear-gradient(to left, #f9fbfc, #f9fbfc);
}

.mobile-menu .mobile-top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mobile-menu-toggle {
    display: none;
}

.mobile-menu-button,
.mobile-menu-button::before,
.mobile-menu-button::after {
    display: block;
    background-color: #7d7676;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.mobile-menu-button::before {
    content: "";
    margin-top: -8px;
}

.mobile-menu-button::after {
    content: "";
    margin-top: 8px;
}

#mobile-menu-toggle:checked+.menu-button-container .mobile-menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#mobile-menu-toggle:checked+.menu-button-container .mobile-menu-button {
    background: rgba(255, 255, 255, 0);
}

#mobile-menu-toggle:checked+.menu-button-container .mobile-menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.mobile-menu {
    padding: 13px;
    width: 100%;
    top: -100%;
    position: relative;
    margin-top: -12px;
    z-index: 999;
}

.mobile-menu.active {
    transition: all 0.5s ease;
    top: 0;
    position: fixed;
    margin-top: -10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 99999;
    padding: 13px;
}

/* <!-- ////////MOBILE MENU END//////// --> */

/* ///////MAIN AREA START//////// */

/* /////SLIDER/// */
.slide-button.slick-arrow i {
    position: relative;
    top: 100%;
    height: 40px;
    width: 40px;
    background-color: rgba(167, 163, 163, 0.473);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.slide-button.slick-arrow i:hover{
    background-color: rgba(160, 157, 157, 0.199);
    color: rgba(19, 178, 206, 0.555);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.slider-text a {
    background-color: #00c867;
    color: white !important;
    border-radius: 25px;
    font-weight: 500;
    margin-top: 20px;
}

.slider-img img {
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
}

.slider-height {
    min-height: 570px;
}

.header-bg {
    background-color: #f9fbfc;
}

.slider-text h2 {
    margin-bottom: 30px;
}

.slider-text h2 span {
    font-size: 50px;
    line-height: 60px;
    color: #00c867;
    font-weight: 700;
    text-align: right;
    display: flex;
}


/* /////////How it works start//////// */
.how-work {
    padding: 30px 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* padding-top: 20px; */
    border-top: 4px solid #00c867;
    border-radius: 5px;
}

.how-work p {
    margin: 0;
    margin-bottom: 25px;
}

.how-work-text h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.how-work-icon {
    margin-bottom: 12px;
}

.how-work-link a {
    font-size: 13px;
    color: #2c303e;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.how-work-link a::after {
    content: '';
    width: 10px;
    height: 13px;
    background-color: #aaeecd;
    position: absolute;
    right: -17px;
    top: 2px;
}

.access-area-inner {
    gap: 50px;
}

.accea-text a.btn {
    background-color: #00c867;
    color: white;
    font-weight: 500;
    border-radius: 19px;
}

/* /////////How it works End//////// */

/* ////////////Feature-area Start///////////// */
.software-feature-title h1 {
    font-size: 45px;
    line-height: 60px;
    color: #1c3354;
    font-weight: 600;
}

.software-feature-title p {
    font-size: 15px;
    line-height: 27px;
    color: #7b8491;
    font-weight: 400;
}

.software-feature-text h3 {
    font-size: 22px;
    color: #1c3354;
    font-weight: 600;
}

.software-feature-text p {
    /* width: 330px; */
    height: 52px;
    font-size: 15px;
    color: #7b8491;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

/* ////////////Feature-area End///////////// */


.accea-text img {
    padding-bottom: 15px;
}

.accea-text h3 {
    font-size: 45px;
    line-height: 55px;
    color: #1c3354;
    font-weight: 600;
}

.accea-text p {
    /* width: 442px; */
    height: 96px;
    font-size: 15px;
    /* line-height: 27px; */
    color: #7b8491;
    font-weight: 400;
    /* text-align: center;
    margin: auto; */
}

.price-box.text-center ul {
    list-style: none;
    margin-bottom: 10px;
}

.praching-icon h4 {
    font-size: 24px;
    line-height: 27px;
    color: #1c3354;
    font-weight: 600;
}
.praching-icon{
    border-bottom: 1px solid #7b8491;
}

.price-plan-list ul {
    padding: 0;
    margin: 0;
}

.price-plan-list ul li {
    padding: 3px 0px;
    color: #7b8491;
}

.price-plan-list b{
    color: black;
}
.price-plan-list span{
    color: #7b8491;
}
.price-box {
    border: 1px solid #e5e7e9a0;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all ease 0.5s;
}

.price-plan-list {
    border-bottom: 1px solid #c4c6c9;
    margin-top: 10px;
}

.price-link {
    margin-top: 10px;
}
.price-link a{
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
}
.price-box:hover{
    transform: scale(1.1);
    transition: all ease 0.5s;
}
.price-link:hover a{
    color: #00c867;
}
.section-title h2 {
    font-size: 45px;
    line-height: 55px;
    color: #1c3354;
    font-weight: 600;
}
.section-title img {
    width: 15px;
    height: 15px;
}

.section-title p {
    /* width: 457px; */
    height: 76px;
    font-size: 16px;
    line-height: 30px;
    color: #7b8491;
    font-weight: 400;
}
.section-title span{
    color: #7b8491;
}
.section-title span b{
    font-size: 22px;
    line-height: 34px;
    color: #1c3354;
    font-weight: 600;
}
/* //////////testimonial-active slider start////// */

/* .testimonial-slide-button.slick-arrow i:before {
    content: "\f061";
    position: absolute;
    top: 100%;
    right: 0;
} */

/* .testimonial-slide-button.slick-arrow i:before{
    position: absolute;
    top: 100%;
    height: 40px;
    width: 40px;
    background-color: rgba(167, 163, 163, 0.473);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.testimonial-slide-button.slick-arrow i.fa.fa-arrow-left{
    position: absolute;
    background-color: rgba(167, 163, 163, 0.473);
    color: white;
    top: 110%;
    left: 0;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.testimonial-slide-button.slick-arrow i.fa.fa-arrow-right {
    position: absolute;
    top: 110%;
    background-color: rgba(167, 163, 163, 0.473);
    color: white;
    right: 0;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* //////////testimonial-active slider end////// */

section.brand-logo-box{
    text-align: center;
}

.newsletter-section-title h2{
    font-size: 45px;
    line-height: 55px;
    color: #1c3354;
    font-weight: 600;
    width: 65%;
    margin: auto;
    margin-bottom: 30px;
}



/* Styles for wrapping the search box */

.newsletter .field {
    display:flex;
    position:realtive;
    margin:10px auto;
    width:80%;
    gap: 10px;
  }
  
 .newsletter .field>input[type=text],
  .field>button {
    display:block;
  }
  
 .newsletter .field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:2px solid #eaecee;
  }
  
 .newsletter .field>button {
    padding:0.6em 0.8em;
    background-color:#2ecc71;
    color:white;
    border:none;
  }
 .newsletter .field>button:hover {
    cursor:pointer;
  }


/* <!-- ////////FOOTER START//////// --> */

.footer-widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-widget img {
    margin-bottom: 10px;
}

.footer-widget p {
    /* width: 325px; */
    height: 101px;
    font-size: 15px;
    line-height: 27px;
    color: #7b8491;
    font-weight: 400;
}
.social-icon a i {
    font-size: 25px;
    line-height: 36px;
    color: #b8bcbf;
    /* display: flex; */
    transition: all ease 0.3s;
}
.social-icon {
    display: flex;
    gap: 20px;
}

.social-icon a:hover i{
    color: #00c867;
    transform: scale(1.2);
    transition: all ease 0.3s;
}

.footer-widget ul li a {
    font-size: 15px;
    line-height: 30px;
    color: #8d96a2;
    font-weight: 400;
}

.footer-widget h3 {
    font-size: 22px;
    line-height: 24px;
    color: #1c3354;
    font-weight: 600;
}
section.footer-section {
    background-color: #f5f8fa;
    padding: 100px 0;
}
/* <!-- ////////FOOTER END//////// --> */